Flask
Flask-SQLAlchemy
Flask-Login
Flask-SocketIO
Flask-Cors
gevent
gevent-websocket
python-socketio
python-engineio
SQLAlchemy
pandas
numpy
openpyxl
reportlab
Werkzeug
gunicorn
python-dotenv
psycopg2-binary
