@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:"Space Grotesk",sans-serif;

}

body{

background:#F8F5EF;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.auth-card{

width:430px;

background:white;

padding:40px;

border:3px solid #111;

border-radius:16px;

box-shadow:8px 8px 0 #111;

transition:.2s;

}

.auth-card:hover{

transform:translate(4px,4px);

box-shadow:4px 4px 0 #111;

}

.logo{

font-size:42px;

font-weight:700;

}

.subtitle{

margin-top:6px;

font-size:18px;

font-weight:600;

}

.desc{

margin:18px 0 30px;

color:#666;

line-height:1.5;

}

label{

display:block;

margin-bottom:8px;

font-weight:600;

margin-top:18px;

}

input{

width:100%;

padding:15px;

font-size:16px;

border:3px solid #111;

border-radius:12px;

outline:none;

background:white;

transition:.2s;

}

input:focus{

background:#FFF8D8;

}

button{

margin-top:30px;

width:100%;

padding:16px;

font-size:17px;

font-weight:700;

background:#FFD43B;

border:3px solid #111;

border-radius:12px;

cursor:pointer;

box-shadow:6px 6px 0 #111;

transition:.2s;

}

button:hover{

transform:translate(5px,5px);

box-shadow:2px 2px 0 #111;

}

.footer{

margin-top:30px;

text-align:center;

}

.footer a{

text-decoration:none;

font-weight:700;

color:#111;

}

@media(max-width:500px){

.auth-card{

width:90%;

padding:30px;

}

.logo{

font-size:34px;

}

}