@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:'Space Grotesk',sans-serif;

}

body{

background:#F8F5F2;

display:flex;

justify-content:center;

padding:50px;

}

.container{

width:700px;

}

.profile-card{

background:white;

padding:35px;

border:4px solid black;

box-shadow:10px 10px 0 black;

text-align:center;

}

.avatar{

font-size:90px;

margin-bottom:20px;

}

h2{

margin-bottom:10px;

}

p{

color:#666;

margin-bottom:25px;

}

.info{

display:grid;

grid-template-columns:repeat(3,1fr);

margin:30px 0;

gap:20px;

}

.info div{

background:#FFD23F;

padding:20px;

border:3px solid black;

box-shadow:5px 5px 0 black;

}

label{

display:block;

margin-bottom:10px;

font-weight:bold;

text-align:left;

}

input{

width:100%;

padding:14px;

border:3px solid black;

margin-bottom:25px;

}

button{

width:100%;

padding:16px;

border:3px solid black;

background:#72DDF7;

box-shadow:5px 5px 0 black;

font-weight:bold;

cursor:pointer;

}

button:hover{

transform:translate(5px,5px);

box-shadow:none;

}
.top-header{

display:flex;

align-items:center;

gap:25px;

margin-bottom:35px;

}

.back-btn{

display:flex;

align-items:center;

gap:10px;

padding:12px 18px;

background:#FFD23F;

border:3px solid black;

box-shadow:5px 5px 0 black;

text-decoration:none;

color:black;

font-weight:bold;

transition:.2s;

}

.back-btn:hover{

transform:translate(5px,5px);

box-shadow:none;

}